.THIS .forcePageError.desktop .genericNotification {
    font-weight: 300;
    border-radius: .25rem;
    font-size: 1rem;
}
.THIS .forcePageError .genericNotification {
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}