.THIS .active,.THIS .active:hover td{
  background-color:grey !important;
  color:#fff;
}
.THIS .aib_h3_font{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 12px;
}
.THIS .aib_text_ellipses{
    max-width:220px;    
}
.THIS .paginationmargin{
    margin-top: 1%;
    margin-bottom:1%;
}