.THIS .aib_diplay_block{
    display: inline-block ;
}
.THIS .aib_h3_font{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 12px;
}
.THIS .aib_width_container{ 
    width:49%;
}
.THIS .aib_width_container1{ 
    width:26%;
}
.THIS .title{ 
    text-align: center;
}
.THIS .slds-modal__content{
padding-bottom:20px;}

.THIS.aib_footer{
    position:sticky;
    width:100%;
    bottom:0%;
}
.THIS .aib_modal{  
}
.THIS .slds-spinner_container{
    top: 63px;
    bottom: 20px;
}
.THIS .blankSection{
   padding: 8.7%;
}
.THIS .row-spacing {height:70px;}
.THIS .slds-float_right.slds-p-top_medium{padding-top:10px;}