.THIS .active,.THIS .active:hover td{
    background-color:grey !important;
    color:#fff;
}
.THIS .aib_h3_font{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 12px;
}
.THIS .slds-truncate.wrapname{
    max-width: 100px;
    width: 20%;
}
.THIS .paginationmargin{
    margin-top: 1%;
    margin-bottom:1%;
}
.THIS .tablefont{
    font-size: 12px;
}