<apex:page docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false">
    <c:csaClearLoanFieldsInstallerIncludes />

    <apex:composition template="nFORCE__Template_Heading">
        <apex:define name="left">
            {!$Label.CLF_Installer_Title}
        </apex:define>
        <apex:define name="right" />
    </apex:composition>

    <apex:composition template="nFORCE__Template_View_1_Column">
        <apex:define name="column-content">
            <apex:composition template="nFORCE__Template_View_Container">
                <apex:define name="content">
                    <div id="csaClearLoanFieldsInstaller" ng-controller="ClearLoanFieldsInstallerController as vm">
                        <message></message>
                        <p>{!$Label.CLF_Installer_Description}</p>
                        <p>
                            <button ng-if="!vm.isInstalled"
                                    class="btn btn-secondary"
                                    ng-click="vm.install()">
                                {!$Label.CLF_Installer_Button_Install_Title}
                            </button>
                            <button ng-if="vm.isInstalled"
                                    class="btn btn-secondary"
                                    ng-click="vm.uninstall()">
                                {!$Label.CLF_Installer_Button_Uninstall_Title}
                            </button>
                        </p>
                    </div>
                </apex:define>
            </apex:composition>
        </apex:define>
    </apex:composition>
</apex:page>